{% extends 'baseUser.html' %}
{% load widget_tweaks %}
{% block navuser %}
{%load staticfiles%}
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var modo = "erro";
        var cepDestino = "erro";
            $(document).ready(function(){
                $("#continue").click(function(){
                    $("#quantidade").prop('disabled', true);
                    $("#deletar").prop('disabled', true);
                    
                    $('#hide').show();
                    //$("#hide").css("display", "block");
                });

                $("#inputGroupSelect01").click(function(){
                    $("#cep").prop('disabled', false);
                    modo = this.value;
                });

                $("#cep").blur(function(){
                    $("#calcular").prop('disabled', false);
                    cepDestino = this.value;
                });

                $("#calcular").click(function() {
                    console.log(modo);
                    console.log(cepDestino);
                    var url_base = "http://ws.correios.com.br/calculador/CalcPrecoPrazo.aspx?"+
                        "nCdEmpresa="+
                        "&sDsSenha="+
                        "&sCepOrigem={{origem}}" +
                        "&sCepDestino="+ cepDestino +
                        "&nVlPeso={{peso}}"+
                        "&nCdFormato={{formato}}"+
                        "&nVlComprimento={{comprimento}}"+
                        "&nVlAltura={{altura}}"+
                        "&nVlLargura={{largura}}"+
                        "&sCdMaoPropria=n"+
                        "&nVlValorDeclarado=0"+
                        "&sCdAvisoRecebimento=n"+
                        "&nCdServico="+ modo +
                        "&nVlDiametro=0"+
                        "&StrRetorno=xml"+
                        "&nIndicaCalculo=3";
                    $.ajax({
                        type: "POST",
                        url: url_base,
                        crossDomain: false,
                        dataType: "xml",
                        headers: {"Access-Control-Allow-Origin": "*",'X-Requested-With': 'XMLHttpRequest'},
                        beforeSend: function() {    
                            $("#load").text("Aguarde uns Instantes");
                        },
                        success: function( xml ) {
                            $("#load").text("Obrigado por Esperar! S2");
                            $(xml).find('cServico').each(function(){
                                var erro = $(this).find('Erro').text();

                                if(erro!=0){
                                    $("#load").text("CEP INCORRETO, NÃO INSIRA . OU -");
                                }
                                else{
                                    var value = $(this).find('Valor').text();
                                    var time = $(this).find('PrazoEntrega').text()
                                    var timeshow = parseInt(time)  +  5;
                                    $("#res-frete").text("R$:" + value);
                                    $("#res-prazo").text(timeshow + "dia(s)");
                                }
                                
                            });
                            console.log(xml);
                        },
                        error: function() {
                            console.error("ERRO")
                        }
                    });
                    
                });
                

            });
    </script>
</head>
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
<div class="page-header">
        <h1>Carrinho de Compras</h1>
</div>
<div class="col-md-8 col-md-offset-2">
<form class="" action="" method="POST">
    {% csrf_token %}
    {{formset.management_form}}
<table class="table table-bordered">
    <thead>

                    <th>
                        ID
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Preço
                    </th>
                    <th style="width: 10%;">
                        Quantidade
                    </th>
                    <th>
                        Deletar
                    </th>

    </thead>

    <tbody>
        {% for form in formset %}
            <tr>
                <td>
                    {{ form.instance.product.pk }}
                </td>
                <td>
                    {{ form.instance.product }}
                </td>
                <td>
                    R$ {{ form.instance.price|floatformat:"2" }}
                </td>
                <td >
                    {% render_field form.quantity class='form-control' id="quantidade" %} 
                    <!--
                        Usando app que ajuda a deixar os forms bonitos :  widget_tweaks
                        agora eu posso colocar classes nos meus forms, como feito acima
                    -->
                </td>
                <td>
                    <button value="on" type="submit" name="{{ form.DELETE.html_name }}" class="btn btn-danger btn-sm" id="deletar">Remover</button>
                    {{form.id}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<button type="submit" class="btn btn-primary" name="button">Atualizar Carrinho</button>
<!--<a href="{% url 'checkout:checkout' %}" class="btn btn-success">Finaliar Compra</a>-->:
</form>
<br>
<a href="{% url 'core:shop' %}" class="btn btn-default">Continuar Comprando</a>
<button name="button" class="btn btn-success" id="continue">Finalizar Compra</button>
<br>
<br>
<div class="col-md-8 col-md-offset-2">
<table class="table table-bordered" id="hide" style="display:none;">
        <thead>         
                        <th>
                            Envio
                        </th>
                        <th> 
                            CEP
                        </th>
                        <th>
                            Calcular
                        </th>
                        <th>
                            Frete
                        </th>
                        <th>
                            Prazo
                        </th>
        </thead>
    
        <tbody>
                <div class="input-group mb-3">
                <tr>
                    <td style="padding-top:22px;">
                            <select class="custom-select" id="inputGroupSelect01">
                                    <option value="40010" selected>Sedex </option>
                                    <option value="41106">PAC</option>
                            </select>
                    </td>
                    <td>
                            <input class="form-control form-control-lg" type="text" disabled="True" placeholder="CEP" id="cep">
                    </td>
                    <td style="padding-top:17px;">
                            <button class="btn btn-success btn-sm" id="calcular" disabled="True" >Calcular</button>   
                    </td>
                    <td style="padding-top:22px;">
                            <p id="res-frete"></p>
                    </td>
                    <td style="padding-top:22px;">
                            <p id="res-prazo"></p>
                    </td>
                </tr>
                </div>
        </tbody>
    </table>
    <h4 class="text-center" id="load"></h4>
</div>
{% endblock %}