{% extends 'baseUser.html' %}
{% load widget_tweaks %}

{% block navuser %}
<body>
    {% if favorits %}
        <div class="page-header">
            <h1>Favoritos</h1>
        </div>
        <div class="container-fluid container-index">
                {% for favorit in favorits %}
                <a href="{% url 'core:itenPortifolio' favorit.project.slug %}">
                  <div class="columncatalog">
                    <img class="destaque-image-catalog" src="{{favorit.project.imagemin.url}}"  alt="{{favorit.project.name}}">
                    <div class="overlay">{{favorit.project.name}}</div>
                  </div>
                </a>
                {% endfor %}
            
            </div>
    {% else %}
        <div class="page-header">
            <h1>De uma olhada em nosso <a href="{% url 'core:portifolio' %}">Portiólio!</a></h1>
            <h3>Para Favoritar basta Clicar no Coração ao Lado do Nome</h3>
        </div>
    {% endif %}
</body>
{% endblock %}