{% extends 'baseUser.html' %}
{%load staticfiles%}

{% block navuser %}
<div class="container-fluid">
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {{ message }}
                </div>
            {% endfor %}
    {% endif %}
    <div class="col-sm-6">
        <h3>Dados</h3>
        <li>Username: {{ user.username }}</li>
        <li>Nome: {{ user.profile.name }}</li>
        <li>Aniversário: {{ user.profile.birthday }}</li>
        <h4>Para atualizar sua conta clique <a href="{% url 'accounts:update_profile' %}">Aqui</a></h4>
    </div>

    
<div class="container-fluid"></div>

{% endblock %}