{% extends 'base.html' %}
{%load staticfiles%}
{% load pagination %}
{% block top %} 


{% endblock %}

{% block menuSide %}
<nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar" style="background-color: black;" ></span>
              <span class="icon-bar" style="background-color: black;"></span>
              <span class="icon-bar" style="background-color: black;"></span>                        
            </button>
            <a class="navbar-brand" href="#">Blog</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                
              </li>

              {% for category in category %}
              <li class="nav-iten"><a href="{% url 'core:categoryBlog' category.slug%}">{{category.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
</nav>
<!--FINAL DA BARRA DE NAGEVAÇÃO-->
<div class="container-fluid container-index">

  <div>
    {% for post in post_list %}
    <div class="row">
        <div class="col-sm-6">
          <a href="{% url 'core:itenBlog' post.slug %}"><img class="img-post-list" src="{{post.imgcapa.url}}"  alt="{{post.name}}" style="width:100%"></a>
        </div>
        <div class="col-sm-6">
          <a href="{% url 'core:itenBlog' post.slug %}"><h3>{{post.name}}</h3></a>
            <p>{{post.cutAbout}} <a href="{% url 'core:itenBlog' post.slug %}"><strong>...</strong></a> </p>
            <p style="color:lightgreen;">Nº Leituras: {{post.nreads}}</p>
            <p style="color:lightpink;">{{post.created.day}} / {{post.created.month}}</p>
          </div>
    </div>
    {% endfor %}
  </div>

  {% pagination request paginator page_obj %}
  </div>

{% endblock %}

{% block bot %} 

{% endblock %}  