{% extends 'base.html' %}
{%load staticfiles%}



{% block top %} 
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
        $(document).ready(function(){
          var color =  $("#favorite").attr('name');
          console.log(color);

          $("#favoriteUser").click(function(){
            alert("Você Precisa Estar Logado para Salvar um Projeto!")
          });

          $("#favorite").click(function(){
            
            if(color == "black"){
              $(this).css("color","red");
              color = "red";
              console.log(color);
              alert("Projeto Salvo!")
            }
            else{
              $(this).css("color","black");
              color = "black";
              console.log(color);
              alert("Clique de novo para Salvar!")
            }
            
            
            $.ajax({
              
              type: "POST",
              url: " {% url 'core:favoriteProject' %}",
              data: {'project': '{{project.slug}}' },
              success: function( ) {
                  //alert('ok')
              },
            });
          });


        });
    </script>
</head>
{% endblock %}

{% block menuSide %}


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'core:portifolio' %}">Portifolio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'core:categoryCatalog' project.category.slug %}">{{project.category}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{project.name}}</li>
        </ol>
    </nav>
<div class="container-fluid text-center">
    <form>
      {% csrf_token %}
          <h1 class="text-center">{{project.name}}
          {% if user.is_authenticated %}
            {% if a %}

            <i class="material-icons" style="font-size:30px;color:red;" id="favorite" name="red">favorite</i> 
            
            {% else %}
            
            <i class="material-icons" style="font-size:30px;" id="favorite" name="black">favorite</i>
            
            {% endif %}
          {% else %}
          <i class="material-icons" style="font-size:30px;" id="favoriteUser" >favorite</i>
          {% endif %}
      </form>
    </h1>
    <h4>{{project.description}}</h4>
    <hr>
    <div class="row">
    
    {% for  image in project.image_set.all %}
    <div class ="col-sm-4">
        
        <img class="img-project" style="width:100%;padding-bottom:10px;margin:0px;" src="{{image.image.url}}" alt="{{image.name}}" data-toggle="modal" data-target="#{{image.id}}">
  
  <!-- Modal -->
  <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="{{image.id}}Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="{{image.id}}Label">{{image.name}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img style="width:100%;" src="{{image.image.url}}" alt="{{image.name}}">
        </div>
        <hr>
        <div class="modal-body">
            <p>{{image.description}}</p>
        </div>
      </div>
    </div>
  </div>   
        
    </div>
    {% endfor %}
    </div>
</div>  

{% endblock %}

{% block bot %} 



{% endblock %}  